/* responsive */
.hamberger-menu {
    display: none;
}
.close-hamber {
    display: none;
}

@media (max-width: 500px) {
    .hamberger-menu {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 25px;
        width: 30px;
        cursor: pointer;
    }
    .hamberger-menu div {
        width: 100%;
        height: 5px;
        border-radius: 3px;
        background-color: white;
    }
    header {
        flex-direction: row-reverse;
    }
    nav {
        position: fixed;
        z-index: 1000;
        top: 0;
        right: 0;
        gap: 5px;
        height: 100vh;
        width: 80vw;
        padding: 30px;
        background-color: black;
        border-right: 1px solid rgb(62, 62, 62);
        animation: fadein 1s forwards;
    }
    .closedNav {
        right: -80vw;
        opacity: 0;
        animation: fadeOut 1s forwards;
    }
    @keyframes fadein {
        from {
            opacity: 0;
            right: -80vw;
        }
        to {
            opacity: 1;
            right: 0;
        }
    }
    @keyframes fadeOut {
        from {
            opacity: 1;
            right: 0;
        }
        to {
            opacity: 0;
            right: -80vw;
        }
    }
    .close-hamber {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 20px;
        left: 30px;
        font-size: 30px;
        font-weight: 400;
        z-index: 100;
        height: 30px;
        width: 30px;
        background-color: rgba(255, 0, 0, 0.486);
        border-radius: 5px;
    }
    nav ul {
        display: flex;
        flex-direction: column-reverse;
    }
}