body {
    background-color: #121212;
    color: #ffffff;
    font-family: 'Vazir', sans-serif;
    margin: 0;
    padding: 0;
    --primary-color: #ff9800;
    --secondary-color: #ffa726;
    --background-color: #1a1a1a;
    --font-color: #ffffff;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #1f1f1f;
}
.logo {
    color: #ff9800;
    font-size: 22px;
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: 10px;
}
.logo img {
    height: 50px;
}
nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
    padding: 0;
    margin: 0;
}
nav ul li a {
    color: #ffffff;
    text-decoration: none;
    transition: color 0.3s;
}
nav ul li a:hover {
    color: #ff9800;
}
.hero {
    text-align: center;
    padding: 100px 20px;
    background-color: #272727;
}
.hero h1 {
    font-size: 40px;
}
.hero p {
    font-size: 20px;
    margin-top: 10px;
}
.courses {
    padding: 50px 20px;
    background-color: #1a1a1a;
}
.courses h2 {
    text-align: center;
    margin-bottom: 40px;
}
.course-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}
.course-card {
    background-color: #2c2c2c;
    padding: 20px;
    width: 250px;
    border-radius: 15px;
    text-align: center;
    box-shadow: 0 0 10px transparent;
    transition: all 0.3s ease;
}
.course-card:hover {
    transform: translateY(-10px) scale(1.05);
    box-shadow: 0 0 15px #ff9800;
}
.course-card img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 15px;
}
.course-card h3 {
    margin-bottom: 10px;
}
.course-card p {
    margin-bottom: 20px;
}
.course-card a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #ff9800;
    color: #121212;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s;
}
.course-card a:hover {
    background-color: #ffa726;
}
footer {
    text-align: center;
    padding: 20px;
    background-color: #1f1f1f;
    font-size: 14px;
}





@font-face {
    font-family: cinema;
    src: url(./assets/fonts/cinema.ttf);
}
@font-face {
    font-family: traffic;
    src: url(./assets/fonts/traffic.ttf);
}
* {
    font-family: traffic;
}
h1,h2,h3,h4,h5,h6 {
    font-family: cinema !important;
}