body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #121212;
  color: white;
}

.contact-section {
  padding: 40px 20px;
}

.contact-container {
  max-width: 600px;
  margin: auto;
  background-color: #1f1f1f;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
}

.contact-container h2 {
  text-align: center;
  margin-bottom: 20px;
}

.contact-form label {
  display: block;
  margin-top: 15px;
  font-weight: bold;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  background-color: rgb(31, 33, 46);
  color: white;
  border-radius: 6px;
  font-size: 16px;
  resize: vertical;
  box-sizing: border-box;
}

.contact-form button {
  margin-top: 20px;
  padding: 12px 20px;
  width: 100%;
  background-color: #ff9800;
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.contact-form button:hover {
  background-color: #ffa726;
}





@font-face {
    font-family: cinema;
    src: url(../assets/fonts/cinema.ttf);
}
@font-face {
    font-family: traffic;
    src: url(../assets/fonts/traffic.ttf);
}
* {
    font-family: traffic;
}
h1,h2,h3,h4,h5,h6 {
    font-family: cinema !important;
}