body {
    margin: 0;
    font-family: sans-serif;
    background-color: #121212;
    color: #fff;
}

header {
    background-color: #1f1f1f;
    padding: 15px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    color: #ff9800;
    font-size: 22px;
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: 10px;
}
.logo img {
    height: 50px;
}

nav ul {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 20px;
}
nav ul li {
    display: flex;
    align-items: center;
}
.cartLi {
    position: relative;
    cursor: pointer;
}
.cartLi span {
    position: absolute;
    top: -15px;
    right: -15px;
    background-color: red;
    width: 20px;
    height: 20px;
    text-align: center;
    border-radius: 50%;
}

nav a {
    color: #fff;
    text-decoration: none;
}

.detail {
    padding: 50px 20px;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 30px;
    max-width: 900px;
    margin: auto;
}

.container img {
    width: 100%;
    max-height: 600px;
    border-radius: 10px;
}

.info h1 {
    margin-bottom: 10px;
}

.info p {
    line-height: 1.8;
    color: #ccc;
}

.info ul {
    list-style: disc;
    padding-right: 20px;
    color: #aaa;
    margin: 20px 0;
}

.score {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#stars {
    display: flex;
    flex-direction: row-reverse;
    font-size: 30px;
    gap: 5px;
}
#stars > div:hover {
    cursor: pointer;
}

#stars > div:hover {
    color: red;
}

#stars:has(div:nth-child(2):hover) div:nth-child(1) {
    color: red;
}

#stars:has(div:nth-child(3):hover) div:nth-child(1),
#stars:has(div:nth-child(3):hover) div:nth-child(2) {
    color: red;
}

#stars:has(div:nth-child(4):hover) div:nth-child(1),
#stars:has(div:nth-child(4):hover) div:nth-child(2),
#stars:has(div:nth-child(4):hover) div:nth-child(3) {
    color: red;
}

#stars:has(div:nth-child(5):hover) div:nth-child(1),
#stars:has(div:nth-child(5):hover) div:nth-child(2),
#stars:has(div:nth-child(5):hover) div:nth-child(3),
#stars:has(div:nth-child(5):hover) div:nth-child(4) {
    color: red;
}

button {
    padding: 10px 20px;
    background-color: #ff9800;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: #121212;
}





@font-face {
    font-family: cinema;
    src: url(../assets/fonts/cinema.ttf);
}
@font-face {
    font-family: traffic;
    src: url(../assets/fonts/traffic.ttf);
}
* {
    font-family: traffic;
}
h1,h2,h3,h4,h5,h6 {
    font-family: cinema !important;
}